@use "./assets/styles/Header.scss";
@use "./assets/styles/Hero.scss";
@use "./assets/styles/Popular.scss";
@use "./assets/styles/Footer.scss";
@use "./assets/styles/Details.scss";
@use "./assets/styles/Actors.scss";
@use "./assets/styles/ActorDetails.scss";
@use "./assets/styles/ActorsFilm.scss";
@use "./assets/styles/Favorite.scss";
@use "./assets/styles/Video.scss";
