* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
