$tablet: 992px;
$mobile: 768px;
$mobile-small: 600px;
$small-mobile: 480px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

#actors {
  padding: 40px 0;
  background: transparent;

  .actors {
    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      

      @include media($tablet) {
        margin-left: 15px;
      }
    }

    &--list {
      overflow-x: scroll;
      display: flex;
      gap: 15px;
      width: 100%;
      padding-bottom: 20px;

      -webkit-mask-image: linear-gradient(
        to right,
        black 85%,
        transparent 100%
      );
      mask-image: linear-gradient(to right, black 85%, transparent 100%);

      &::-webkit-scrollbar {
        height: 8px;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(1, 212, 228, 0.2);
        border-radius: 10px;
        &:hover {
          background: rgba(1, 212, 228, 0.5);
        }
      }

      &__block {
        margin-top: 20px;
        flex: 0 0 140px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.274);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

        transition: 0.3s ease;

        img {
          width: 100%;
          height: 175px;
          border-radius: 10px 10px 0px 0px;
          object-fit: cover;
        }
        &:hover {
          transform: translateY(-10px);
        }

        &--title {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          a {
            color: black;
            line-height: 1.2;
            font-weight: 700;
            font-size: 16px;
            &:hover {
              color: rgba(0, 0, 0, 0.384);
              cursor: pointer;
            }
          }
          p {
            color: black;
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
