$tablet: 992px;
$mobile: 768px;
$mobile-small: 600px;
$small-mobile: 480px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

#actors {
  margin-bottom: 50px;

  .actors {
    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-left: 20px;
      margin-top: 40px;
      color: black;

      @include media($tablet) {
        margin-left: 15px;
      }
    }

    &--list {
      background: linear-gradient(
        left,
        white 0%,
        0% rgba(255, 255, 255, 0.8) 50%,
        50% rgba(255, 255, 255, 0) 100%
      );
      margin-top: 20px;
      padding: 10px 20px;
      overflow-x: scroll;
      display: flex;
      gap: 20px;
      width: 100%;

      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
      }

      &__block {
        flex: 0 0 140px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.274);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        img {
          width: 100%px;
          height: 175px;
          object-fit: cover;
        }

        &--title {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          a {
            color: black;
            line-height: 1.2;
            font-weight: 700;
            font-size: 16px;
            &:hover {
              color: rgba(0, 0, 0, 0.384);
              cursor: pointer;
            }
          }
          p {
            color: black;
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
