$tablet: 992px;
$mobile: 768px;
$mobile-small: 600px;
$small-mobile: 480px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

#details {
  .detailsCard {
    padding: 80px 40px;
    display: flex;
    gap: 40px;

    @include media($tablet) {
      padding: 40px 20px;
      flex-direction: column;
      align-items: center;
    }

    &--img {
      flex-shrink: 0;
      border-radius: 10px;
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: fit-content;

      img {
        cursor: pointer;
        transition: transform 0.3s ease, filter 0.3s ease;
        border-radius: 10px;
        max-width: 300px;
        width: 100%;
        height: auto;
      }

      .img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.651);
        opacity: 0;
        transition: 0.4s ease;
        transition: opacity 0.8 ease;
        z-index: 1;
        pointer-events: none;
      }

      &:hover {
        .img-overlay {
          opacity: 1;
        }
        img {
          filter: blur(10px);
        }
      }
    }
    &--detail {
      width: 100%;
      @include media($tablet) {
        text-align: center;
      }
      h1 {
        color: white;
        font-weight: 900;
        font-size: clamp(24px, 5vw, 36px);
      }
      span {
        font-weight: normal;
        color: rgba(255, 255, 255, 0.863);
      }
      p {
        color: white;
      }
      .movieInfo {
        .rating {
          display: flex;
          span {
            color: white;
          }
        }
      }
      &__miniRating {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;

        @include media($mobile) {
          flex-direction: column;
          gap: 40px;
        }

        &--card {
          position: relative;
          display: flex;
          align-items: center;

          .movieRating {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            width: 60px;
            height: 60px;
            transition: 0.5s;

            background: #081c22;
            box-shadow: 0 0 1px #081c22;

            background-image: conic-gradient(
              #21d07a var(--rating-degree, 0deg),
              #204529 var(--rating-degree, 0deg),
              #d2d531 var(--rating-degrees, 0deg),
              #423d0f var(--rating-degrees, 0deg)
            );
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 80%;
              height: 80%;
              background-color: #081c22;
              border-radius: 50%;
            }
            h4 {
              color: white;
              z-index: 5;
              font-size: 18px;
              font-weight: 700;
              span {
                font-size: 9px;
                color: white;
                vertical-align: super;
              }
            }
            &:hover {
              cursor: pointer;
              transform: scale(1.3);
            }
          }
          h5 {
            margin-left: 15px;
            color: white;
            font-size: 16px;
            width: 80px;
            line-height: 1.2;
            text-align: left;
          }
        }
        &--trailer {
          @include media($mobile) {
            margin-top: 10px;
          }
          a {
            display: flex;
            gap: 10px;
            font-weight: 700;
            font-size: 18px;
            color: white;
            &:hover {
              color: #ffffff91;
            }
          }
        }
      }
      &__icons {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 60px;

        @include media($tablet) {
          justify-content: center;
        }

        &--Icon {
          background-color: #081c22;
          display: flex;
          width: 50px;
          height: 50px;
          align-items: center;
          justify-content: center;
          transition: 0.2s ease;

          border-radius: 50%;
          a {
            font-size: 16px;
            color: white;
          }
          &:hover {
            transform: scale(1.2);
          }
          .icon-animate {
            display: inline-block;
            animation: popIn 0.3s ease-out;
          }
        }
      }
      &__overview {
        margin-top: 40px;
        text-align: left;
        h3 {
          color: rgba(255, 255, 255, 0.807);
        }
        h4 {
          color: white;
          font-size: 24px;
        }
        P {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#details {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to right,
      rgba(3, 37, 65, 0.9) 0%,
      // 90% непрозрачности в самом начале
      rgba(3, 37, 65, 0.7) 40%,
      // Слегка открываем картинку в центре
      rgba(3, 37, 65, 0.8) 100% // И чуть притеняем край справа
    );
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}
