#footer {
  padding: 50px 0;
  background: #04223a;
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .footer--text {
      display: flex;
      gap: 10px;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      a {
        text-decoration: none;
        color: white;
        font-weight: 200;
      }
      h1 {
        color: white;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

$tablet: 992px;
$mobile: 768px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

#footer {
  padding: 50px 0;
  background: #04223a;

  @media (max-width: 768px) {
    padding: 30px 0;

  }
  .footer {
    display: flex;
     align-items: center;
     justify-content: space-between;

     @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;

     }

     .footer--text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      @media (max-width: 768px) {

        align-items: center;

      }

      a {
        color: white;
        font-weight: 200;

      }
      h1 {
        color: white;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

     }
  }
}