$tablet: 992px;
$mobile: 768px;
$mobile-small: 600px;
$small-mobile: 480px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

#popular {
  padding: 40px 0;
  .popular {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    &--card {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 250px;
      overflow: hidden;
      border-radius: 10px;
      background: white;
      gap: 10px;
      @include media($small-mobile) {
        width: 100%;
        max-width: 340px;
      }

      &__img {
        overflow: hidden;
        height: 375px;
        img {
          width: 100%;
          height: 100%;
          transition: 0.8s;
          object-fit: cover;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
      &__title {
        padding: 0 15px 15px 15px;
        z-index: 10;
        flex-grow: 1;
        h1 {
          font-size: 18px;
          font-weight: 700;
          color: #21b8db;
        }
        h3 {
          font-size: 16px;
          font-weight: 700;
          color: #536063;
        }
        &--rate {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          width: 40px;
          height: 40px;

          background: #081c22;
          box-shadow: 0 0 1px #081c22;
          right: 15px;
          top: 15px;
          z-index: 5;

          background-image: conic-gradient(
            #21d07a var(--rating-degree, 0deg),
            #204529 var(--rating-degree, 0deg),
            #fbff00 var(--rating-degrees, 0deg),
            #000000 var(--rating-degrees, 0deg)
          );
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 80%;
            background-color: #081c22;
            border-radius: 50%;
          }
          h4 {
            position: relative;
            z-index: 5;

            color: white;
            font-size: 14px;
            font-weight: 700;
            span {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
  }
  button {
    border: none;
    background-color: #01b4e4;
    color: white;
    padding: 15px 0; // Убрал 350px
    width: 100%;
    max-width: 800px; // Кнопка будет длинной на ПК, но на всю ширину на мобилке
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #032541;
      transform: translateY(-2px);
    }
  }
}
